CREATE TABLE Categories (
	CategoryID integer NOT NULL auto_increment,
	CategoryName varchar(15) NOT NULL,
	Description longtext,
	PRIMARY KEY (CategoryID)
);
CREATE TABLE CustomerGroupThresholds (
	CustomerGroupName varchar(20),
	RangeBottom decimal(19,4),
	RangeTop decimal(19,4)
);
CREATE TABLE Customers (
	CustomerID char(5) NOT NULL,
	CompanyName varchar(40) NOT NULL,
	ContactName varchar(30),
	ContactTitle varchar(30),
	Address varchar(60),
	City varchar(15),
	Region varchar(15),
	PostalCode varchar(10),
	Country varchar(15),
	Phone varchar(24),
	Fax varchar(24),
	PRIMARY KEY (CustomerID)
);
CREATE TABLE Employees (
	EmployeeID integer NOT NULL auto_increment,
	LastName varchar(20) NOT NULL,
	FirstName varchar(10) NOT NULL,
	Title varchar(30),
	TitleOfCourtesy varchar(25),
	BirthDate datetime,
	HireDate datetime,
	Address varchar(60),
	City varchar(15),
	Region varchar(15),
	PostalCode varchar(10),
	Country varchar(15),
	HomePhone varchar(24),
	Extension varchar(4),
	Notes longtext,
	ReportsTo integer,
	PhotoPath varchar(255),
	PRIMARY KEY (EmployeeID)
);
CREATE TABLE OrderDetails (
	OrderID integer NOT NULL,
	ProductID integer NOT NULL,
	UnitPrice decimal(19,4) DEFAULT ((0)) NOT NULL,
	Quantity smallint DEFAULT ((1)) NOT NULL,
	Discount varchar(250) DEFAULT ((0)) NOT NULL,
	PRIMARY KEY (OrderID,ProductID)
);
CREATE TABLE Orders (
	OrderID integer NOT NULL auto_increment,
	CustomerID char(5) NOT NULL,
	EmployeeID integer,
	OrderDate datetime,
	RequiredDate datetime,
	ShippedDate datetime,
	ShipVia integer,
	Freight decimal(19,4) DEFAULT ((0)),
	ShipName varchar(40),
	ShipAddress varchar(60),
	ShipCity varchar(15),
	ShipRegion varchar(15),
	ShipPostalCode varchar(10),
	ShipCountry varchar(15),
	PRIMARY KEY (OrderID)
);
CREATE TABLE Products (
	ProductID integer NOT NULL auto_increment,
	ProductName varchar(40) NOT NULL,
	SupplierID integer,
	CategoryID integer,
	QuantityPerUnit varchar(20),
	UnitPrice decimal(19,4) DEFAULT ((0)),
	UnitsInStock smallint DEFAULT ((0)),
	UnitsOnOrder smallint DEFAULT ((0)),
	ReorderLevel smallint DEFAULT ((0)),
	Discontinued smallint DEFAULT ((0)) NOT NULL,
	PRIMARY KEY (ProductID)
);
CREATE TABLE Shippers (
	ShipperID integer NOT NULL auto_increment,
	CompanyName varchar(40) NOT NULL,
	Phone varchar(24),
	PRIMARY KEY (ShipperID)
);
CREATE TABLE Suppliers (
	SupplierID integer NOT NULL auto_increment,
	CompanyName varchar(40) NOT NULL,
	ContactName varchar(30),
	ContactTitle varchar(30),
	Address varchar(60),
	City varchar(15),
	Region varchar(15),
	PostalCode varchar(10),
	Country varchar(15),
	Phone varchar(24),
	Fax varchar(24),
	HomePage longtext,
	PRIMARY KEY (SupplierID)
);
INSERT INTO Categories(CategoryID, CategoryName, Description) VALUES (1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales');
INSERT INTO Categories(CategoryID, CategoryName, Description) VALUES (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings');
INSERT INTO Categories(CategoryID, CategoryName, Description) VALUES (3, 'Confections', 'Desserts, candies, and sweet breads');
INSERT INTO CustomerGroupThresholds(CustomerGroupName, RangeBottom, RangeTop) VALUES ('Low', 0.0000, 999.9999);
INSERT INTO CustomerGroupThresholds(CustomerGroupName, RangeBottom, RangeTop) VALUES ('Medium', 1000.0000, 4999.9999);
INSERT INTO CustomerGroupThresholds(CustomerGroupName, RangeBottom, RangeTop) VALUES ('High', 5000.0000, 9999.9999);
INSERT INTO Customers(CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', null, '12209', 'Germany', '030-0074321', '030-0076545');
INSERT INTO Customers(CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', null, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745');
INSERT INTO Customers(CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', null, '05023', 'Mexico', '(5) 555-3932', null);
INSERT INTO OrderDetails(OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 11, 14.0000, 12, 0.0);
INSERT INTO OrderDetails(OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 42, 9.8000, 10, 0.0);
INSERT INTO OrderDetails(OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 72, 34.8000, 5, 0.0);
INSERT INTO Orders(OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10248, 'VINET', 5, '2014-07-04 08:00:00.0', '2014-08-01 00:00:00.0', '2014-07-16 00:00:00.0', 3, 32.3800, 'Vins et alcools Chevalier', '59 rue de l''Abbaye', 'Reims', null, '51100', 'France');
INSERT INTO Orders(OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10249, 'TOMSP', 6, '2014-07-05 04:00:00.0', '2014-08-16 00:00:00.0', '2014-07-10 00:00:00.0', 1, 11.6100, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', null, '44087', 'Germany');
INSERT INTO Orders(OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10250, 'HANAR', 4, '2014-07-08 15:00:00.0', '2014-08-05 00:00:00.0', '2014-07-12 00:00:00.0', 2, 65.8300, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil');
INSERT INTO Products(ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.0000, 39, 0, 10, 0);
INSERT INTO Products(ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0000, 17, 40, 25, 0);
INSERT INTO Products(ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0000, 13, 70, 25, 0);
INSERT INTO Shippers(ShipperID, CompanyName, Phone) VALUES (1, 'Speedy Express', '(503) 555-9831');
INSERT INTO Shippers(ShipperID, CompanyName, Phone) VALUES (2, 'United Package', '(503) 555-3199');
INSERT INTO Shippers(ShipperID, CompanyName, Phone) VALUES (3, 'Federal Shipping', '(503) 555-9931');
INSERT INTO Suppliers(SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'London', null, 'EC1 4SD', 'UK', '(171) 555-2222', null, null);
INSERT INTO Suppliers(SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', null, '#CAJUN.HTM#');
INSERT INTO Suppliers(SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (3, 'Grandma Kelly''s Homestead', 'Regina Murphy', 'Sales Representative', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349', null);
ALTER TABLE Employees
	ADD FOREIGN KEY (ReportsTo) 
	REFERENCES Employees (EmployeeID);


ALTER TABLE OrderDetails
	ADD FOREIGN KEY (OrderID) 
	REFERENCES Orders (OrderID);

ALTER TABLE OrderDetails
	ADD FOREIGN KEY (ProductID) 
	REFERENCES Products (ProductID);


ALTER TABLE Orders
	ADD FOREIGN KEY (CustomerID) 
	REFERENCES Customers (CustomerID);

ALTER TABLE Orders
	ADD FOREIGN KEY (EmployeeID) 
	REFERENCES Employees (EmployeeID);

ALTER TABLE Orders
	ADD FOREIGN KEY (ShipVia) 
	REFERENCES Shippers (ShipperID);


ALTER TABLE Products
	ADD FOREIGN KEY (CategoryID) 
	REFERENCES Categories (CategoryID);

ALTER TABLE Products
	ADD FOREIGN KEY (SupplierID) 
	REFERENCES Suppliers (SupplierID);


